.home-section {
  background-color: $sta-home-section-odd;
  padding: 30px 0 30px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

footer {
  color: #fff;
  margin: 1rem 0 0 0;
  padding: 0 0;
  width: 100%;
}

script~div.container {
  background-color: #003865;
  margin: 0 0;
  padding: 1px 0 1px 0;
  max-width: 100%;
  height: 68px;
}

@media (max-width: 927px) {
  script~div.container {
    height: 53px;
  }
}
